# Misc data
*.zip
*.tar
*.7z
*.vscode
*.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# DotEnv configuration
.env

# Database
*.db
*.rdb

# VS Code
.vscode/

# Jupyter NB Checkpoints
.ipynb_checkpoints/